/*Common styles*/
:root {
  --logo-color: #4d5ae5;
  --logo-footer-color: #f4f4fd;
  --paragraph-color: #434455;
  --title-color: #2e2f42;
}
body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--paragraph-color);
}
/*Reset*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*Header style*/
.header-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.header-logo-accent {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.header-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address .link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

/*Main style*/

/*Hero*/
.hero-section {
  background-color: var(--title-color);
}
.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--logo-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*Features*/
.features-section {
}
.features-item {
}
.features-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}
/*Products*/
.products .list {
  background-color: #ffffff;
}
.products-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
.products-list {
}
.products-item {
}
/*Team*/
.team {
  background-color: #f4f4fd;
}
.team-list {
}
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
.team-item {
  background-color: #ffffff;
}
.team-member-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.team-member-profession {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
/*Footer*/
.footer-background {
  background-color: var(--title-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.footer-logo-accent {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
  flex: none;
}
.footer-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-footer-color);
}
/*Portfolio page*/
/*Main*/
.btn-pf {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: #f4f4fd;
}
.btn-pf:hover,
.btn-pf:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
}
.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.card-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}
